asgiref==3.3.1
autopep8==1.5.5
Django==3.1.7
django-ckeditor==6.0.0
django-extensions==3.1.1
django-js-asset==1.2.2
isort==5.7.0
mccabe==0.6.1
Pillow==8.1.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylama==7.7.1
pytz==2021.1
snowballstemmer==2.1.0
sqlparse==0.4.1
toml==0.10.2
