{% extends "base_generic.html" %}

{% block content %}
  <h1>All blogs</h1>

  {% if blog_list %}
  <ul>
    
    {% for blog in blog_list %}
    <li>
      <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{blog.post_date}})
      — <a href="{% url 'blogs-by-author' blog.author.pk %}">{{ blog.author }}</a>
      {% if user.is_authenticated and user.id == blog.author.id %}
        — <small>(<a href="{% url 'edit_post' blog.pk %}">Edit</a>)</small>
      {% endif %}
    </li>
    {% endfor %}

  </ul>

  {% else %}
    <p>There are no blogs.</p>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{% url 'add_post' %}">Add a new blog post</a></p>
  {% else %}
    <p><a href="{% url 'login'%}?next={{request.path}}">Login</a> 
      to add a new blog post</p>
  {% endif %}
{% endblock %}