{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1 id="header">{{ category }}</h1>

{% if post_list %}
<h3>Posts</h3>
<ul>
  {% for post in post_list %}
  <li>
    <a style="font-size: xx-large;" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    ({{ post.post_date.date }}) — {{ post.total_likes }}
    like{% if post.total_likes > 1 %}s{% endif %}
  </li>
  {% endfor %}
</ul>

{% else %}
<p>This category doesn't have any post yet.</p>
{% endif %}
{% endblock %}
