{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1>{{ post.title }}</h1>
{% if user.is_authenticated and user.username == post.author.user.username %}
— <small>(<a href="{% url 'edit_post' post.pk %}">Edit</a>)</small>
— <small>(<a href="{% url 'delete_post' post.pk %}">Delete</a>)</small>
{% endif %}
<p>
  <a href="{% url 'posts-by-author' post.author.pk %}">{{ post.author }}</a>
  <br>
  {{ post.post_date }}
</p>
{% if post.header_image %}
<img
  src="{{ post.header_image.url }}"
  width="100%"
  height="25%"
 >
{% endif %}
<p>{{ post.description|safe }}</p>
<p><strong>Category:</strong>
  {% if post_categories %}
    {% for category in post_categories %}
      {{ category }},
    {% endfor %}
    - <small><a href="{% url 'edit_post' post.pk %}"> Change categories </a></small>
  {% else %}
    {% if user.is_authenticated and user.username == post.author.user.username %}
    <a href="{% url 'edit_post' post.pk %}"> Add a category </a>
    {% endif %}
  {% endif %}
  </p>
<hr />
<form action="{% url 'like_post' post.pk %}" method="post">
  {% csrf_token %} 
  {% if user.is_authenticated %} 
    {% if liked %}
    <button
      type="submit",
      name="post_id",
      value="{{ post.pk }}",
      class="btn btn-danger btn-sm"
    >
      Unlike
    </button>
    {% else %}
    <button
      type="submit",
      name="post_id",
      value="{{ post.pk }}",
      class="btn btn-primary btn-sm"
    >
      Like
    </button>
    {% endif %} 
  {% else %}
  <p>
    <a href="{% url 'login' %}?next={{ request.path }}">Login</a> to like this post
  </p>
  {% endif %} — {{ total_likes }} like(s)
</form>
<br>
<div id="profile-card" class="card mb-3 bg-dark text-white">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if post.author.profile_pic %}
      <img
        src="{{ post.author.profile_pic.url }}"
        alt="Profile Picture"
        width="100%"
        height="100%"
      >
      {% else %}
      <img
        src="{% static 'images/default_profile_pic.jpg' %}"
        alt="Default Profile Picture"
        width="100%"
        height="100%"
        class="rounded-circle"
      >
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          {{ post.author }}
        </h5>
        <p class="small text-muted">
          {% if post.author.website_url %}
            <a href="{{ post.author.website_url }}">Website</a> |
          {% endif %}
          {% if post.author.linkedin_url %}
            <a href="{{ post.author.linkedin_url }}">LinkedIn</a> |
          {% endif %}
          {% if post.author.twitter_url %}
            <a href="{{ post.author.twitter_url }}">Twitter</a> |
          {% endif %}
          {% if post.author.facebook_url %}
            <a href="{{ post.author.facebook_url }}">Facebook</a>
          {% endif %}
        </p>
        <p class="card-text">{{ post.author.bio|safe }}</p>
      </div>
    </div>
  </div>
</div>
<div style="margin-left: 20px; margin-top: 20px">
  <h4>Comments</h4>
  <!--comment_set.all function returns all Comment records
        associated with a particular Post-->
  {% for comment in post.comment_set.all %}
  <hr />
  <p>
    {{ comment.author }} ({{ comment.post_date }}) - {{ comment.description }} 
    {% if user.is_authenticated and user.username == comment.author.username %} 
    — <small> (<a href="{% url 'edit_comment' comment.pk %}">Edit</a>) </small> 
    — <small> (<a href="{% url 'delete_comment' comment.pk %}">Delete</a>) </small>
    {% endif %}
  </p>
  <form action="{% url 'like_comment' post.pk %}" method="post">
    {% csrf_token %} 
    {% if user.is_authenticated %} 
      {% if comment.liked %}
      <button
        type="submit",
        name="comment_id",
        value="{{ comment.pk }}",
        class="btn btn-danger btn-sm"
      >
        Unlike
      </button>
      {% else %}
      <button
        type="submit",
        name="comment_id",
        value="{{ comment.pk }}",
        class="btn btn-primary btn-sm"
      >
        Like
      </button>
      {% endif %} 
    {% else %}
    <p>
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a> to like this post
    </p>
    {% endif %} — {{ comment.total_likes }}
    like{% if comment.total_likes > 1 %}s{% endif %}.
  </form>
  {% endfor %}
  <hr />
  {% if user.is_authenticated %}
  <a href="{% url 'comment' post.pk %}">Add a new comment</a>
  {% else %}
  <p>
    <a href="{% url 'login' %}?next={{ request.path }}">Login</a> to add a new comment
  </p>
  {% endif %}
</div>

<hr />
{% if user.is_authenticated %}
<form action="{% url 'report_post' post.pk %}" method="post">
  {% csrf_token %}
    <button
      type="submit",
      name="report_id",
      value="{{ post.pk }}",
      class="btn btn-primary btn-sm"
    >
      Report
    </button>
</form>
{% else %}
  <p>
    <a href="{% url 'login'%}?next={{ request.path }}">Login</a> to report this post
  </p>
{% endif %}
{% endblock %}
