{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1 id="header">Posts</h1>

{% if post_list %}
<div id="elements">
  {% for post in post_list %}
  <div id="post">
    <a style="font-size: xx-large;" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    <br>
    Author: <a href="{% url 'posts-by-author' post.author.pk %}">{{ post.author }}</a>
    <br>
    {{ post.post_date.date }}
    <br>
    Likes: {{ post.total_likes }}
  </div>
  {% endfor %}
</ul>

{% else %}
<p>There are no blog posts.</p>
{% endif %}
{% endblock %}
